{{#> layout headerTitle=(t "email.registration.html.header") }}
  <div class="container">
    <h1>Thank you for registering!</h1>
    <p>Dear {{ name }},</p>
    <p>We are thrilled that you have registered for our service. Your account has been created, and you are now able to log in.</p>
    <p>To get started, please click the button below:</p>
    <a href="{{ loginUrl }}" class="button">Log in to your account</a>
  </div>
{{/ layout }}
